.background {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(to top, #0f7bd1, #1380d7, #1785dd, #1a8ae4, #1d8fea, #2493ed, #2a97ef, #309bf2, #3a9ff1, #44a3f0, #4da6ee, #56aaed) no-repeat fixed center;
    background-size: auto;
}
