@import '~@angular/material/theming';

.loginBackground {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(to top, #0f7bd1, #1380d7, #1785dd, #1a8ae4, #1d8fea, #2493ed, #2a97ef, #309bf2, #3a9ff1, #44a3f0, #4da6ee, #56aaed) no-repeat fixed center;
    background-size: auto;
}

.loginCard {
    width: 25em;
    height: 19em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

mat-card-title {
    line-height: 3em;
}

form {
    width: 100%;
    height: 10em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

mat-form-field {
    margin: 1em 1em;
}

mat-card-actions {
    margin: 0 1em;
}