<mat-toolbar class="header">
  <h2>Actualizar proyecto</h2>
  <button mat-button (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-divider></mat-divider>

<form>
  <mat-form-field class="projectName">
    <mat-placeholder>Nombre</mat-placeholder>
    <input matInput [(ngModel)]="editProject.name" name="name" required>
  </mat-form-field>

  <mat-form-field class="projectDueDate">
    <mat-placeholder>Fecha límite</mat-placeholder>
    <input matInput [matDatepicker]="picker" [(ngModel)]="editProject.dueDate" name="dueDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</form>

<mat-divider></mat-divider>

<mat-toolbar class="footer">
  <button mat-raised-button color="primary" (click)="onSubmit(editProject)">Actualizar</button>
  <button mat-button (click)="onClose()">Cancelar</button>
</mat-toolbar>
