::ng-deep {
    .mat-dialog-container {
        padding: 0;
    }
}

.header {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

mat-form-field {
    margin: 1em 2em;
}

.footer {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}