<mat-toolbar class="header">
  <h2>Editar tarea</h2>
  <button mat-button (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-divider></mat-divider>

<form>
  <mat-form-field class="taskName">
    <mat-placeholder>Add new task</mat-placeholder>
    <input matInput [(ngModel)]="task.name" name="name" required>
  </mat-form-field>

  <mat-form-field class="taskDueDate">
    <mat-placeholder>Due date</mat-placeholder>
    <input matInput [matDatepicker]="picker" [(ngModel)]="task.dueDate" name="dueDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</form>

<mat-divider></mat-divider>

<mat-toolbar class="footer">
  <button mat-raised-button color="primary" (click)="updateTask(task)">Actualizar</button>
  <button mat-button (click)="onClose()">Cancelar</button>
</mat-toolbar>