mat-checkbox {
    width: 80%;
    margin-left:  1em;
    margin-bottom: 1em;
    margin-top: 1.5em;
}

::ng-deep mat-checkbox {
    span {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}

::ng-deep .mat-checkbox-layout {
    width: 100%;
    display: flex !important;
    justify-content: space-between;
}

.task {
    height: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.isDone {
    color: gray;
    
    mat-checkbox {
        text-decoration: line-through;
    }
}

.taskName {
    width: 60%;
}

.text {
    color: rgba(0, 0, 0, 0.5);
}

.taskDueDate {
    width: 30%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

a:active, a:hover {
    cursor: pointer;
}
.material-icons {
    margin: 0 0.5em;
    width: 5%;
}