mat-list-item {
    width: 80%;
    height: 2.5em;
//     background-color: rgba(197, 197, 197, 0.2);
//     border-radius: 25px;
    padding: 0.5em 1em;
}

mat-divider {
    width: 80%;
    margin-top: 1em;
}