<mat-card class="registerCard">
  <mat-card-header>
    <mat-card-title>Registrarse</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input matInput placeholder="Nombre" [(ngModel)]="user.firstName" type="firstname" name="firstname" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Apellido" [(ngModel)]="user.lastName" type="lastname" name="lastname" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="user.username" type="username" name="username" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" [(ngModel)]="user.password" type="password" name="password" required>
      </mat-form-field>
    </form>
    <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="register(user)" color="primary">Registrarse</button>
    <button mat-button [routerLink]="['/']">Volver</button>
  </mat-card-actions>
</mat-card>
